<%= button_link_to(Spree.t(:new_variant), spree.new_admin_product_variant_url(@product), { :remote => :true, :icon => 'add', :'data-update' => 'new_variant', :class => 'btn-success', id: 'new_var_link' }) if can? :create, Spree::Variant %>
<div class="btn-group-vertical btn-group-xs">
  <%= button_link_to(t(:create_all), create_all_admin_product_variants_path , {icon: 'plus-sign'} ) %>
  <%= button_link_to(t(:remove_all), remove_all_admin_product_variants_path , {
    class: 'btn-danger', 
    icon: 'trash', 
    'data-confirm' => Spree.t(:are_you_sure),
    'data-action' => 'remove'
    } ) 
  %>
</div>
